
body{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 84rem;
}
dl,li,menu,ol,ul {list-style: none;}
header > h1 { margin: 0;}
.container{
    display: flex;
    justify-content: space-between;
}
aside.aside{
    display: flex;
    width: 16rem;
    padding: 3rem 2rem;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-right: 1px dashed var(--color-gray-20);
    text-align: center;
}
aside.aside ul {
    width: 100%;
    padding: 0;
    margin: 0;
}
aside.aside h2 small {
    font-weight: normal;
    font-size: 60%;
}
.aside footer > a {
    display: block;
    padding: 0.4rem;
}
.profile {
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
.profile * {
    width: 100%;
    height: 100%;
}
.pf__contact {
    display: inline-flex;
    width: 100%;
    padding: 5px 1rem;
    margin-bottom: 5px;
    border:1px solid #d1d9e0;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    white-space: nowrap;
    background-color: #f6f8fa;
}
.contents{
    width:100%;
    max-width: 60rem;
    height: 90vh;
    min-height: 90vh;
    padding: 1rem;
    overflow-y: auto;
}
.categories ~ ul{padding-left: 0;}
.links-nextprev {margin-top: 3em;}
footer i svg {width:1rem;}

@media screen and (max-width: 768px) {
    header {justify-content: space-between;}
    aside.aside {display: none;}
}