body{
    width: 100%;
    max-width: 87rem;
}
dl,li,menu,ol,ul {list-style: none;}
picture img {
    display: block;
    /* width: 100%;
    max-width: 40rem; */
    max-width:90%;
    height: auto;
}
header > h1 { margin: 0;}
.container{
    display: flex;
    justify-content: space-between;
}
aside.aside{
    min-width: 10rem;
    padding: 1rem;
}
aside.aside > h2 {margin-bottom:.3rem;}
.contents{
    width:100%;
    max-width: 70rem;
    padding: 1rem;
    overflow-y: auto;
}
.links-nextprev {margin-top: 3em;}
.catelist {
    padding:0;
    margin: 0;
}
.catelist a{
    padding: .2rem 0;
    text-decoration: none;
}
.catelist svg{
    margin-right: 4.5px;
    vertical-align: middle;
    opacity: .7;
}
.img-sm {max-width:23rem;}
.center {margin: 0 auto;}
footer i svg {width:1rem;}

@media screen and (max-width: 767px) {
    header {justify-content: space-between;}
    aside.aside {display: none;}
}